@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
    color: darkslategray;
}

html, body {
   margin: 0;
   padding: 0;
}

nav.ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
    border-radius: 5% 5% 5% 5%;
    font-weight: bold;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li {
    padding: 0 5%
}

.nav a:hover {
    background-color: #777;
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("Images/BG-Images/bg-tech-blue.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.bob-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: 'Share Tech Mono', monospace;
    padding-top: 0.25em;
    font-weight: normal;
    font-style: none;
    color: white;
}

.bob-name-large {
    font-size: 6em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.container p {
    margin: 1em;
    font-size: 18px;
    font-weight: medium;
}

.section-header {
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    color: #333;
    text-align: center;
    font-size: 2.5em
}

.about-bob-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px 15px 5px 5px;
    border-radius: 50%;
    filter: grayscale(75%);
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    filter: opacity(50%);
    filter: saturate(5%);
    width: 30px;
    height: 30px;
}

.main-footer a:hover {
    background-color: rgba(105, 90, 205, 0.5);
    border-radius: 2% 25%;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3)
}

.btn-round {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    font-weight: bold;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
}

.logo {
    align-content: center;
    filter: saturate(50%);
}

.line-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.line-row:last-child {
    border-bottom: none;
}

.line-item {
    display: inline-block;
    padding-right: .5em;
    width: 100%;
}

.line-btn {
    color: rgb(16, 78, 114);
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    width: 150px;
    height: 150px;
    background-color: rgba(118, 173, 255, 0.144);
    border-style: 1em;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    box-shadow: 0;
    outline-width: 0px;
    padding: 0px;
    border-style: hidden;
}

.line-btn:hover {
    background-color: rgba(118, 173, 255, 0.281);
    border-radius: 50%;
}

.line-btn:focus {
    color: rgba(54, 30, 82, 0.548);
}

.service-item {
    margin: 30px;
}

.service-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    padding: 30px;
}

.service-item-image {
    height: 250px;
    width: 250px;
}

.service-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.service-item-price {
    flex-grow: 1;
    color: #333;
}

.service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn-service {
    font-weight: bolder;
    margin: 0px;
    border: 0px;
    width: 125px;
    background-color: rgba(118, 173, 255, 0.281);
}

.btn-service:hover {
    margin: 0px;
    border: 0px;
    background-color: rgba(118, 173, 255, 0.63);
    border-color:rgba(118, 173, 255, 0.50);
}

.btn-service:focus {
    border: 0px;
    margin: 0px;
    background-color: rgba(118, 173, 255, 0.75);
    border-color: black;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.cart-column {
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
    flex-wrap: wrap;
}

.cart-item {
    widows: 45%;
    width: 60%
}

.cart-price
{
    width: 20%;
}

.cart-quantity {
    width: 35%;

}

.checkout {
    margin: 0px;
    box-sizing: border-box;
    align-items: center;
    align-content: center;
    padding-top: 30;
}